.modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 100px auto 0;
    transition: all .8s;
    width: 60%;
}

.modal-header {
    background: #263238;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: right;
}

.modal-header h3 {
    color: white;
    float: left;
    margin: 0;
    padding: 0;
}

.modal-body {
    padding: 10px 15px;
    text-align: center;
}

.modal-footer {
    background: #263238;
    height: 35px;
    padding: 15px;
}

.close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

.close-modal-btn:hover {
    color: black;
}

.btn-cancel, .btn-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btn-cancel {
    background-color: #b71c1c;
    float: left;
}

.btn-continue {
    background-color: #1b5e20;
    float: right;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}

.open-modal-btn {
    margin: 15px;
    position: relative;
    border-radius: 8px;
    border: 2px black solid;
    left:886px;
    top:200px;
    padding: 20px;
    width: 100px;
    height: 50px;
}

body {
    background-color: #2D3B48;
    padding: 20px;
    margin: 0;
  }
  table{
      background-color: seagreen;
      border: 2px black solid;
      border-radius: 8px;
      position: relative;
      top:10px ;
      left: 226px;
      width: 500px;
      height: 400px;
  }
  h3{
      position: relative;
      left: 896px;
      font-size: 35px;
  }
  h1{
      position: relative;
      left: 838px;
  }
  h4{
    position: relative;
    bottom: 90px;
    left: 187px;
    font-size: 20px;
  }
  
  input{
      border: 2px black solid;
      border-radius: 8px;
      padding: 20px;
      position: relative;
      bottom:-20px;
      left: -30px;
     
  }
  .title {
    color: white;
  }
  h1, h2, h3, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #23BA91;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  
  .modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 100px auto 0;
    transition: all .8s;
    width: 60%;
  }
  
  .modal-header {
    background: #263238;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: right;
  }
  
  .modal-header h3 {
    color: white;
    float: left;
    margin: 0;
    padding: 0;
  }
  
  .modal-body {
    padding: 10px 15px;
    text-align: center;
  }
  
  .modal-footer {
    background: #263238;
    height: 35px;
    padding: 15px;
  }
  
  .close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
  }
  
  .close-modal-btn:hover {
    color: black;
  }
  
  .btn-cancel, .btn-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
  }
  
  .btn-cancel {
    background-color: #b71c1c;
    float: left;
  }
  
  .btn-continue {
    background-color: #1b5e20;
    float: right;
  }
  
  .back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
  }
  
  .open-modal-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
  }